---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8"
;

/* Colors */
$background-color: #2E3440 !default;
$text-color: #D8DEE9 !default;
$primary-color: #81A1C1 !default;
$border-color: #5E81AC !default;
$code-background-color: #3B4252 !default;
$code-background-color-dark: #3B4252 !default;
$form-background-color: #3B4252 !default;
$footer-background-color: #3B4252 !default;
$link-color: #8FBCBB !default;
$link-color-hover: #88C0D0 !default;
$link-color-visited: #B48EAD !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: #ECEFF4 !default;
$navicon-link-color-hover: #ECEFF4 !default;

$base00: #2E3440 !default;
$base01: #3B4252 !default;
$base02: #434C5E !default;
$base03: #4C566A !default;
$base04: #D8DEE9 !default;
$base05: #E5E9F0 !default;
$base06: #ECEFF4 !default;
$base07: #8FBCBB !default;
$base08: #88C0D0 !default;
$base09: #81A1C1 !default;
$base0a: #5E81AC !default;
$base0b: #BF616A !default;
$base0c: #D08770 !default;
$base0d: #EBCB8B !default;
$base0e: #A3BE8C !default;
$base0f: #B48EAD !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
